body {
  margin: 0;
  background: #020202;
  overflow:hidden;
}
canvas{display:block}
h1 {
  color: #fff;
  font-family: "Source Sans Pro";
  font-size: 350%;
  font-weight: 900;
  text-align: center;
}
p{
  color: #fff;
  font-family: "Source Sans Pro";
  font-size: 140%;
  text-align: center;
}
canvas{
    position: absolute;
    z-index: -10;
}
img{
    position: absolute;
    width: 25%;
    z-index: -1;
    opacity: 0.7;
}
#g1{
    animation: ball 2s ease-in-out infinite; 
}
#g2{
    left:75%;
    animation: ball 2s ease-in-out infinite; 
}
div{
    padding: 10%;
}


#g3{
    position: absolute;
    z-index:100;
    left: 25%;
    top: 25%;
    animation: shake 1s infinite; 
}
#g4{
    position: absolute;
    z-index:100;
    width: 90vw;
    top: 1%;
    left: 2%;
}

@keyframes shake {
  0% { transform: translate(2px, 2px) rotate(0deg); }
  5% { transform: translate(-2px, -4px) rotate(-2deg); }
  10% { transform: translate(-6px, 0px) rotate(2deg); }
  15% { transform: translate(6px, 4px) rotate(0deg); }
  20% { transform: translate(2px, -2px) rotate(2deg); }
  25% { transform: translate(-2px, 4px) rotate(-2deg); }
  30% { transform: translate(-6px, 2px) rotate(0deg); }
  35% { transform: translate(6px, 2px) rotate(-2deg); }
  40% { transform: translate(-2px, -2px) rotate(2deg); }
  45% { transform: translate(2px, 4px) rotate(0deg); }
  50% { transform: translate(2px, -4px) rotate(-2deg);}
  51% { transform: translate(2px, 2px) rotate(0deg); }
}

@keyframes ball {
  0% { transform: translate(0px, 0px) rotate(0deg); }
  50% { transform: translate(0px, 1vh) rotate(0deg); }
  100% { transform: translate(0px, 0px) rotate(0deg); }
}


#cover{
    position: absolute;
    z-index:100;
    width:100%;
    height:100%;
    background-color:#99bda8;
    transition: opacity 2s;
}

