body {
  margin: 0;
  background: #020202;
}
canvas{display:block}
h1 {
  color: #fff;
  font-family: "Source Sans Pro";
  font-size: 350%;
  font-weight: 900;
  text-align: center;
}
p{
  color: #fff;
  font-family: "Source Sans Pro";
  font-size: 140%;
  text-align: center;
}
canvas{
    position: absolute;
    z-index: -10;
}
img{
    position: absolute;
    width: 25%;
    z-index: -1;
    opacity: 0.7;
}

#g2{
    left:75%;
}
div{

    padding: 10%;
}